.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 5vh;
  padding: 2.5vh  0 2.5vh 0;
  width: 100%;
  color: white;
}

.App-title {
  font-size: calc(14px + 0.75vw);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.location-list {
  background-color: #222;
  height: 45vh;
  padding: 2.5vh  0 2.5vh 0;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.location-list-items {
height: 100%;
width: 50%;
/* overflow: auto; */

}

.location-list-elements-container {
  height: 75%;
  overflow: auto;
}

.location-list-elements {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  overflow: auto;
  font-size: calc(10px + 0.5vw);
}

.location-list-info {
  height: 100%;
  width: 50%;
}
/* .location-list {
  background-color: #222;
  height: 45vh;
  padding: 2.5vh 0 2.5vh 0;
  width: 50%;
  color: white;
} */

/* .info-panel {
  background-color: #222;
  height: 45vh;
  padding: 2.5vh 0 2.5vh 0;
  width: 50%;
  color: white;
  float:right;
} */

.map-container {
  height: 0;
  width: 0;
}

h2 {
  font-size: calc(14px + 0.5vw);
}